@use 'media';

// --------------------------------------------------
//
// # Navigation
//
// ## Table of Contents
//   1. Side navigation
// --------------------------------------------------


// *************************** //
// *** 1. Side navigation *** //
// ************************* //

.page-aside {
@include media.breakpoint('sm', 'max-width') {
  display: none;
 } 
}

.side-nav {
  position: sticky;
  top: 1.5rem;
}

.side-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
 }
 
 .side-nav li {
   display: block;
 }
 
 .side-nav li a {
   color: var(--color-neutral-400);
   text-decoration: none;
   display: block;
   padding: 1rem 0 1rem 1rem;
 
   &:hover {
     text-decoration: underline;
     text-decoration-thickness: 0.125rem;
   }
 }

 .side-nav li:not(:last-child){
  border-bottom: solid 1px var(--color-neutral-100);
}
 
 .side-nav li.active-side-nav-page a {
   color: var(--color-teal-400);
   font-weight: var(--bold);
   border-left: solid 4px var(--color-teal-400);
 }